<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
      <div itemscope itemtype="http://schema.org/Person"><span itemprop="name">Olivier Sallou</span> - <span itemprop="jobTitle">Software development lead</span> at <span itemprop="affiliation">Université de Rennes</span>(<span itemprop="workLocation">Rennes</span>)</div>
      

    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li> - </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
